.app > a {
  text-decoration: none;
  color: #4e6ff9;
  font-size: 1.5em;
}

.app > h2 {
  color: #535d66;
}

.app {
  margin: 1em;
  padding: 0.5em;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expenses {
  width: inherit;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total-expenses {
  margin: 3em 0;
  padding: 1em 2em;
  background-color: #4e6ff9;
  border-radius: 0.5em;
  color: #fff;
  font-size: 1.1em;
  font-weight: 700;
}

.expenses-list {
  width: inherit;
  margin-bottom: 3em;
}

.expense-item {
  margin: 1em 0;
  padding: 0.5em;
  border: 1px solid #4e6ff9;
  border-radius: 0.5em;
  background-color: #fff;
}

.expense-item > * {
  margin: 0.5em 0;
}

.expense-amount {
  color: #4e6ff9;
  font-weight: 700;
}

.expense-item > div {
  display: flex;
  justify-content: space-between;
}

.expense-date,
.expense-category {
  color: #535d66;
  display: inline-block;
}

.add-expense {
  padding: 1em 2em;
  background-color: #4e6ff9;
  border-radius: 0.5em;
  font-size: 1.1em;
  font-weight: 700;
}

.add-expense > a {
  text-decoration: none;
  color: #fff;
}

.expenses-form {
  width: inherit;
  margin: 3em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 0.5em;
  padding-top: 1em;
  box-shadow: 0 0 6px 3px #edf2f7;
}

.expenses-form > h3 {
  text-align: center;
  margin-bottom: 0.5em;
}

form {
  width: 70%;
  border-radius: 0.5em;
  background-color: #fff;
  padding: 0.5em;
}

form > * {
  margin: 1em 0;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

textarea,
input {
  display: block;
  width: 100%;
  background-color: #edf2f7;
  border: 1px solid #535d66;
  border-radius: 0.5em;
  padding: 0.5em;
}

input {
  height: 3em;
}

textarea:focus,
input:focus {
  outline: none;
  border: 2px solid #4e6ff9;
}

.button {
  display: flex;
  justify-content: center;
}

.button > button {
  padding: 0.7em 2em;
  background-color: #4e6ff9;
  border: none;
  border-radius: 0.3em;
  color: #fff;
  font-size: 1.1em;
  cursor: pointer;
}

@media screen and (min-width: 416px) and (max-width: 950px) {
  .app {
    width: 65vw;
  }

  form {
    width: 80%;
  }
}

@media screen and (max-width: 415px) {
  .app {
    width: 90vw;
  }

  form {
    width: 80%;
  }
}
