@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: 'Cardo', serif;
}

#root {
  display: flex;
  justify-content: center;
  height: inherit;
}
